/* ----- Sidebar ----- */

/* Hide for mobile, show later */

.login-main{
  background:#E0E0E0;
  .row{
    margin-top:20px;
     margin-bottom:100px;
  }
}
.login-form{
  label{
    font-size:32px;
  }
  select{
    width:200px;
  }
}
