/* -----------------------------------------------------------------------------
 * variables
 * -------------------------------------------------------------------------- */

/* ----- Colors ----- */
$color-border:                   #EEEEEE;
$color-soft:                     #AAAAAA;

/* ----- Typography ----- */
$font-family-arial: "Arial","regular" !default;
